body {
	background-color: #C2D5D1;
}

nav {
 	background-color: BurlyWood;
 	background-color: #EFCF96; 
}

label {
	margin-bottom: 0px;
	margin-top: 3px;
}

select {
	margin-right: 5px;
}

table {
	margin-top: 5px;
}

.main-container {
	height: 100%;
}

.form-inline {
	margin: 0px;
}

#filter-bar {
	min-height: 100%;
}

#turned-on-form, #turned-on-content {
	background-color: #FFADA2;
	padding: 10px;
	margin: 5px;
	border-radius: 10px;
	float: left;
	border-radius: 10px;
}

#main-area {
	background-color: #C5CCD7;
}

#count-button {
	float: right;
}